
.avatar {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 1px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
    background-size: cover;
    cursor: pointer;
    transition: border-color 0.25s;
    background-image: linear-gradient(rgba(253, 248, 208, 0.3), rgba(0, 0, 0, 0.6)); 
}

.avatar:hover, .avatar:focus {
    border-color: var(--orange);
}

.avatar__img {
    position: relative;
    z-index: -1;
    width: 100%;
}

.avatar__username {
    position: absolute;
    bottom: 0;
    width: inherit;
    text-align: center;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
}