.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header {
  border-bottom: 1px solid var(--dark-grey);
  height: 1.8em;
}

.menu {  
  padding-top: 10vh;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

button, input {
  outline: none;
  width: 8rem;
  color: var(--beige);
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid var(--grey);
  border-radius: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: border-color 0.25s;
}

input {
  background-color: var(--dark-green);
  padding-left: 0.2em;
}

input::placeholder {
  color: var(--grey);
  font-size: 0.9em;
}

button {
  cursor: pointer;
  background-color: var(--green);
}

.close {
  padding-top: 0.4em;
  position: absolute;
  right: 3px;
  width: 1.8em;
  height: 1.8em;
  background-color: var(--dark-orange);
}

input:hover, button:hover, input:focus, button:active {
  border-color: var(--orange);
}

.error {
  font-style: italic;
}