.hudtop {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: var(--brown);
    border-bottom: 1px solid var(--dark-grey);
    height: 2em;
    display: flex;
    box-shadow: 0px 0px 2px black;
}

.hudbott {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--brown);
    border-top: 1px solid var(--dark-grey);
    min-height: 2em;
    box-shadow: 0px 0px 2px black;
}

.hudtop__avatar {
    display: flex;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    margin: 1px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
    background-size: cover;
    cursor: pointer;
    transition: border-color 0.25s;
}

.hudtop__avatar:hover, .hudtop__avatar--border:focus {
    border-color: var(--orange);
}

.hudtop__avatar--1 {
    background-image: linear-gradient(rgba(253, 248, 208, 0.3), rgba(0, 0, 0, 0.6)), url(/public/img/avatars/avatar1.png);
}

.hudtop__username {
    font-size: 11px;
    align-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
}