.hudtop {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: var(--brown);
    border-bottom: 1px solid var(--dark-grey);
    height: 2em;
    display: flex;
    box-shadow: 0px 0px 2px black;
}

.hudbott {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

.hudbott__toprow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 7em;
    left: 2.6em;
    background: var(--brown);
    border-top: 1px solid var(--dark-grey);
    box-shadow: 0px 0px 2px black;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    padding-left: 2px;
}

.hudbott__mainrow {
    display: flex;
    flex-direction: row;
    background: var(--brown);
    border-top: 1px solid var(--dark-grey);
    box-shadow: 0px 0px 2px black;
}

.hudbott__btn {
    width: 2.5em;
    height: 2.5em;
    margin: 1px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
    background-size: cover;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--green);
}

.hudbott__btn:hover, .hudbott__btn:focus {
    border-color: var(--orange);
}

.hudbott__icon {
    position: relative;
    width: 100%;
    transform: rotateX(55deg) rotateZ(45deg);
}