:root {
  --color-text: #fdf8d0;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: var(--color-text);
  background-color: #2b1c14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
  
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
  
.row {
  display: flex;
  justify-content: center;
  margin: 1em;
}

h1 {
  text-align: center;
}

button {
  width: 8rem;
  color: var(--color-text);
  background-color: #074d45;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid #5e7676;
  border-radius: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: border-color 0.25s;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

button:hover {
  border-color: #ffbe7d;
}

button:active {
  border-color: #ffbe7d;
}
