.map {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    --tile-size: 5em;
}

.tile {
    background: none;
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 0;
    border: solid 1px var(--grey);
    transition: border-color 0.25s;
}

.tile:hover {
    border-color: var(--orange);;
}