.map {
    --board-length: 20;
    --tile-size: 48px;
}

.map__height {
    font-size: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.map__rotate {
    transform: rotateX(55deg) rotateZ(45deg);
    height: calc(var(--tile-size)*var(--board-length));
    width: calc(var(--tile-size)*var(--board-length));
}


.tile {
    display: inline-block;
    background: var(--dirt);
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 0;
    border: solid 1px var(--grey);
    position: relative;
    box-sizing: border-box;
}

.tile:hover {
    border-color: var(--orange);
}

.tile--rail {
    background: var(--dirt) url(/public/img/rail.png);
}
