:root {
    --beige: #fdf8d0;
    --brown: #2b1c14;
    --grey: #5e7676;
    --dark-grey: #3e4949;
    --green: #175e3e;
    --med-green: #124b31;
    --dark-green: #0a3631;
    --orange: #ffbe7d;
    --dark-orange: #e98554;
    --dirt: #99863a;
    --dark-dirt: #785f28;
    --dark-sea: #0000b0;
}